* {
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
}

/* .flexFull{
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
} */

.flexCol{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#accueil, footer, .mobile-none{
  display: none;
}

section{
  border: 1px dotted black;
  min-height: 85vh;
}

a{
  text-decoration: none;
  color: black;
}

header{
  background-image: radial-gradient( #79C0F0, #668da7);

}

header{
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

header > h2 {
  padding: 1%;
}

nav{
  justify-content: space-between;
  align-items: center;
  padding: 1%;

}

nav h2{
  min-width: 10%;
  text-align: center;
  padding: 1em;
}

nav h2:hover{
  background-color: #1E8EDA;
}
/* -----------------slidermenu-------------------- */
/* Base styles */
/* body {
  background: #1d1e22;  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji
} */

a {
  text-decoration: none;
  color: #4f7794;
}

.contentWrap {
  border-radius: 5px;
  padding-top: .25rem;
  /* max-width: 350px; */
  /* padding-bottom: 2rem; */
  display: block;
  margin: auto;
  height: 100vh;
  background: white;
}

/* 
* make the menu scroll left and right 
* If content overflows the container
*/
.menuWrap {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* 
* allow menu items to alter their dimensions  
* to fill available space
*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 
* styles for individual menu items
*/
.menu-item {
  /* spacing styles */
  -ms-flex-preferred-size: 120px;
  flex-basis: 120px; /* sets the initial main size of a each menu item */ 
  -ms-flex-negative: 0; 
  flex-shrink: 0; /* don't allow menu item to shrink below 120px when there isn’t enough space on the row. */
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; /* allow items to grow up to 150px wide if the container is big enough */
  max-width: 150px;
  margin: 0 2px;
  
  /* additional styles */
  border: 1px solid lightgray;
  border-radius: 3px;
  background: white;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}


.menu-item a {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 11px 0;
}
/* -----------------slidermenu  end-------------------- */

#accueil #portrait{
max-height: 100%;
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

/* -------slider-------------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100);

.animate {
transition: transform 0.3s ease-out;
}

html,
body {
height: 100%;
}

body {
margin: 0;
padding: 0;
overflow: hidden;
}

.slider-wrap {
width: 300px;
height: 500px;
position: absolute;
left: 50%;
margin-left: -150px;
top: 50%;
margin-top: -225px;
}

.slider {
width: 100%;
height: 100%;
overflow: hidden;
}

.ms-touch.slider {
overflow-x: scroll;
overflow-y: hidden;

-ms-overflow-style: none;
/* Hides the scrollbar. */

-ms-scroll-chaining: none;
/* Prevents Metro from swiping to the next tab or app. */

-ms-scroll-snap-type: mandatory;
/* Forces a snap scroll behavior on your images. */

-ms-scroll-snap-points-x: snapInterval(0%, 100%);
/* Defines the y and x intervals to snap to when scrolling. */
}

.holder {
width: 300%;
max-height: 500px;
height: 100%;
overflow-y: hidden;
}

.slide-wrapper {
width: 33.333%;
height: 100%;
float: left;
height: 500px;
position: relative;
overflow: hidden;
}

.slide {
height: 100%;
position: relative;
}

.temp {
position: absolute;
z-index: 1;
color: white;
font-size: 100px;
bottom: 15px;
left: 15px;
font-family: 'Josefin Slab', serif;
font-weight: 100;
}

.slide img {
position: absolute;
z-index: 0;
transform: translatex(-100px);
}

.slide:before {
content: "";
position: absolute;
z-index: 1;
bottom: 0;
left: 0;
width: 100%;
height: 40%;
background: linear-gradient(transparent, black);
}

.slide div {
width: 300px;
height: 500px;
z-index: 0;
}
