.div_test{
    background-color: #0f78bf;
    width: 100px;
    height: 100px;
}

* {
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.flexFull{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.flexCol{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

section{
    border: 1px dotted black;
    min-height: 85vh;
}

a{
    text-decoration: none;
    color: black;
}

header, footer{
    background-image: radial-gradient( #79C0F0, #668da7);

}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-right: 2em;
}

header h2 {
    padding: 1%;
    /* min-width: 10%; */
    text-align: center;
    padding: 1em;
}

nav{
    min-width: 50em;
    justify-content: space-between;
    align-items: center;
}

nav a{
    padding: 1em;
    font-size: x-large;
    z-index: 2;
}

nav a span{
    font-size: x-small;
}

nav a:hover{
    background-color: #1E8EDA;
}

/* The progress container (grey background) */
.progress-container {
    position: absolute;
    z-index: 1;
    width: 68%;
    height: 100%;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 100%;
    background: #0f78bf;
    opacity: 0.2;
    width: 0%;
  }

.light{
    background-color: none;
}

.dark{
    background-color: #1E8EDA;
}


 /* accueil */
#accueil *{box-sizing: border-box;}
#accueil button{
    z-index: 1;
    width: 36%;
    background: hsla(102, 100%, 50%, 0.0);
    border: none;
}

.carousel__cell section{
    width: 270px;
}

.scene {
    border: 1px solid #CCC;
    position: relative;
    width: 210px;
    /* height: 140px; */
    margin: 40px auto;
    perspective: 1000px;
}

.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel #animated_logo{
    height: 300px;
}

.carousel .portrait{
    height: 400px;
}

.celCompetence h1{
    display: none;
}

.carousel__cell {
    position: absolute;
    left: 10px;
    text-align: center;
    max-width: 300px;
    max-height: 400px;
}

.carousel__cell:nth-child(7n+1) { background: hsla(0, 100%, 50%, 0.2); }
.carousel__cell:nth-child(7n+2) { background: hsla(51, 100%, 50%, 0.2); }
.carousel__cell:nth-child(7n+3) { background: hsla(102, 100%, 50%, 0.2); }
.carousel__cell:nth-child(7n+4) { background: hsla(153, 100%, 50%, 0.2); }
.carousel__cell:nth-child(7n+5) { background: hsla(204, 100%, 50%, 0.2); }
.carousel__cell:nth-child(7n+6) { background: hsla(255, 100%, 50%, 0.2); }
.carousel__cell:nth-child(7n+0) { background: hsla(306, 100%, 50%, 0.2); }

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 51deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 102deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateY(153deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateY(204deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateY(255deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateY(306deg) translateZ(288px); }





/* contact us */
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
